* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* NAVBAR */
.navigation-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #16ffbd;
  font-family: "Roboto", sans-serif;
  position: sticky;
  position: -webkit-sticky;
  z-index: 2;
  top: 0;
}

.logo {
  color: #303030;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #303030;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
  text-decoration: underline;
}

/*Sidenav/Menu*/
.sidenav {
  display: flex;
  height: 92%;
  width: 17%;
  position: fixed;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  bottom: 0;
  right: 0;
  background-color: #16ffbd;
  padding-top: 60px;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  font-family: "Roboto", sans-serif;
}

.sidenav a {
  display: block;
  color: #303030;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
}

.sidenav li {
  list-style: none;
  opacity: 0;
}

.sidenav a:hover {
  text-decoration: underline;
}

/*Burger menu*/
.burger {
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 5px;
  background-color: #303030;
  margin: 3px;
  transition: all 0.3s ease;
}

.sidenavActive {
  transform: translateX(0%);
}

/*Animation Burger menu*/
@keyframes sidenavLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toogle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toogle .line2 {
  opacity: 0;
}

.toogle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

h4:hover {
  cursor: default;
}

h4:active {
  cursor: default;
}